@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: white;
  background-image: url(../img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#categorias__text {
  font-family: "Indie Flower", cursive;
  font-size: 60px;
  text-decoration: underline dotted;
}

#consola-text {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 20px 20% 20px 20%;
}

#juegos-text {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 20px 20% 20px 20%;
}

#amiibo-text {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 20px 20% 20px 20%;
}

#apartado-nintendo #consola-text,
#apartado-nintendo #juegos-text,
#apartado-nintendo #amiibo-text {
  background-color: red;
}

#apartado-playstation #consola-text,
#apartado-playstation #juegos-text {
  background-color: blue;
}

#apartado-xbox #consola-text,
#apartado-xbox #juegos-text {
  background-color: green;
}

#apartado-pc #juegos-text {
  background-color: grey;
}

#cantidad-productos {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.alta_mensaje {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  text-align: center;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 400px;
  max-width: 500px;
  height: 220px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0px solid transparent;
  text-decoration: none;
  /*
      &:nth-child(10n + 1) &__content{
          background-image: linear-gradient(to top, #b429f9, #26c5f3);
      }

      &:nth-child(10n + 2) &__content{
          background-image: linear-gradient(to top, #af1239, #cce269);
      }

      &:nth-child(10n + 3) &__content{
          background-image: linear-gradient(to top, #0b3866, #3ddab2);
      }

      &:nth-child(10n + 4) &__content{
          background-image: linear-gradient(to top, #f40752, #7c65a9);
      }

      &:nth-child(10n + 5) &__content{
          background-image: linear-gradient(to top, #1c3b41, #69d449);
      }

      &:nth-child(10n + 6) &__content{
          background-image: linear-gradient(to top, #0a5df8, #ed2d53);
      }

      &:nth-child(10n + 7) &__content{
          background-image: linear-gradient(to top, #661069, #cec360);
      }

      &:nth-child(10n + 8) &__content{
          background-image: linear-gradient(to top, #702b19, #cec360);
      }

      &:nth-child(10n + 9) &__content{
          background-image: linear-gradient(to top, #034a66, #ced11a);
      }

      &:nth-child(10n + 10) &__content{
          background-image: linear-gradient(to top, #ec458d, #474ed7);
      }
  */
}
.card:hover, .card:focus {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -moz-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
  border: 10px solid white;
  box-shadow: 1px 1px 12px 2px rgba(255, 255, 255, 0.73);
}
.card__image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  transition: all 0.2s;
}
.card:hover .card__image {
  transform: scale(0.6);
  transition-delay: 0s;
  margin-top: -15%;
}
.card__content {
  bottom: 0;
  margin-top: -15%;
  height: 230px;
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
  clip-path: polygon(51% 12%, 73% 9%, 100% 0, 100% 100%, 0 100%, 0 0, 21% 8%);
}
.card:hover .card__content {
  padding-top: 1em;
}
.card:hover .card__content {
  margin-top: -20%;
}
.card .card__heading {
  padding-top: 10%;
}
.card:hover .card__heading {
  padding-top: 5%;
}
.card .card__description {
  margin-top: 50%;
  transition: all 0.2s;
}
.card:hover .card__description {
  margin-top: 2%;
}
@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}
@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card-article {
    display: flex;
  }
  .card__image {
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card__content {
    top: 0;
    padding-left: 45%;
  }
}

#cards__nintendo .card-container .card {
  background-color: darkred;
}

#cards__nintendo .card__content {
  background: linear-gradient(180deg, #ff3300 15%, #4b0000 57%);
}

#cards__playstation .card-container .card {
  background-color: #000096;
}

#cards__playstation .card__content {
  background: linear-gradient(180deg, #0066ff 15%, #000047 57%);
}

#cards__xbox .card-container .card {
  background-color: #003200;
}

#cards__xbox .card__content {
  background: linear-gradient(180deg, #01a701 15%, #002700 57%);
}

#cards__pc .card-container .card {
  background-color: #323232;
}

#cards__pc .card__content {
  background: linear-gradient(180deg, #acacac 15%, #262626 57%);
}

.logo-nintendo,
.logo-playstation,
.logo-xbox,
.logo-pc {
  max-width: 100%;
  max-height: 130px;
  padding: 20px;
  border: solid white 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 12px 2px rgba(255, 255, 255, 0.73);
}

.logo-nintendo {
  background-color: red;
}

.logo-playstation {
  background-color: blue;
}

.logo-xbox {
  background-color: green;
}

.logo-pc {
  background-color: grey;
}

#logo-pagina {
  height: 100px;
}

.contacto_form,
.alta_form {
  margin: 10% 5%;
  border: black 2px solid;
  text-align: center;
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.73);
  background-color: rgba(175, 152, 152, 0.815);
}
.contacto_form h1,
.alta_form h1 {
  color: white;
  padding: 2% 0;
  background-color: #8f8282;
}
.contacto_form .div_form,
.alta_form .div_form {
  display: flex;
  justify-content: space-between;
  margin: 2% 15%;
}
.contacto_form label, .contacto_form input, .contacto_form select, .contacto_form textarea,
.alta_form label,
.alta_form input,
.alta_form select,
.alta_form textarea {
  font-size: 20px;
  margin: 3% 0;
}
.contacto_form label,
.alta_form label {
  font-weight: bold;
}
.contacto_form [type=checkbox],
.alta_form [type=checkbox] {
  width: 20px;
  height: 20px;
}
.contacto_form [type=submit],
.alta_form [type=submit] {
  font-size: 30px;
  padding: 5px;
  margin-bottom: 3%;
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #7e6d6d;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  font-size: 20px;
}

.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.nav-bar__nav-item {
  text-align: center;
}

.nav-bar__nav-link {
  display: block;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  transition: all 0.2s;
}

.nav-bar__nav-link:hover {
  font-weight: bold;
  background-color: #464040;
}

/*********************************
            SEARCH BAR height: 4em;
*********************************/
.search-bar {
  display: flex;
  justify-content: space-between;
}

.search-bar__logo-container,
.search-bar__form-container {
  padding: 1em;
}

.search-bar__form-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.search-bar__form-search {
  font-size: 30px;
  background-color: #e0d8d8;
  width: 70%;
  flex-basis: 100%;
}

.search-bar__form-submit {
  color: transparent;
  font-size: 25px;
  height: 40%;
  background-color: transparent;
  background: white;
  background-image: url(../img/lupa-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
}

.search-bar__carrito-container {
  display: flex;
  flex: 0 0 3em;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}

.menu-toggle__pan-arriba {
  top: 0.8em;
}

.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}

.menu-toggle__pan-abajo {
  bottom: 0.8em;
}

/*********************************
            CARRITO
*********************************/
#carritoImagen {
  height: 50px;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.section-cards {
  padding: 1em;
  margin: 100px 30px;
  text-align: center;
  border-radius: 30px;
  background-attachment: fixed;
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.73);
  margin-right: 10%;
  margin-left: 10%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.apartado-consolas,
.apartado-juegos,
.apartado-amiibo {
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .card-container {
    min-width: 230px;
  }
}
#apartado-nintendo {
  background-color: rgba(255, 0, 0, 0.75);
  background-image: url(../img/fondo-nintendo.png);
}

#apartado-playstation {
  background-color: rgba(0, 0, 255, 0.75);
  background-image: url(../img/fondo-playstation.png);
}

#apartado-xbox {
  background-color: rgba(0, 128, 0, 0.75);
  background-image: url(../img/fondo-xbox.png);
}

#apartado-pc {
  background-color: rgba(128, 128, 128, 0.75);
  background-image: url(../img/fondo-pc.png);
}

#categorias {
  text-align: center;
  border: #8d7b7b 2px solid;
  margin: 40px;
  padding: 30px;
}

.alta_mensaje {
  margin: 5% 5%;
}