footer{
    width: 100%;
    background-color: #fc6149;
    color: honeydew;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    position: absolute;
    bottom: 0;
    height: 100px;

    & a{
        color: inherit;
        text-decoration: none;
    }

    & #mapa_del_sitio{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        font-size: 12px;
    }

    & #redes_sociales{
        margin-left: 40%;
    }

    & #redes_sociales p{
        text-align: center;
        font-size: 12px;
        //margin-left: -20%;
    }

    & #redes_sociales img{
        width: 35px;
        height: 35px;
    }

    & #redes_sociales div{
        width: 120%;
        //margin-left: -20%;
        display: flex;
        justify-content: space-between;
    }

    & #logo_footer{
        
        
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.596));
    }
}



@media (max-width: 800px){
    footer{
        & #mapa_del_sitio{
            margin-left: -30%;
        }
    }
}



@media (max-width: 600px){
    footer{
    
        & #logo_footer{
            width: 50px;
            height: 50px;
        }
    
        & #mapa_del_sitio{
            margin-left: 2%;
        }
    
        & #redes_sociales p{
            text-align: center;
            margin-left: 25%;
        }
    
        & #redes_sociales img{
            width: 50px;
            height: 50px;
        }
    
        & #redes_sociales div{
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 35%;
        }
    }
}

@media (max-width: 350px){
    footer{
        & #redes_sociales img{
            width: 30px;
            height: 30px;
        }
    }
}
