
/*********************************
            HEADER
*********************************/
.main-header{
    display: flex;
    flex-direction: column;
    //background-color: rgb(207, 0, 0);
    background-color: #fc6149;
    height: 110px;
}

#menu{
    display: none;
}

#menu:checked + .nav-bar {
    display: block;
}


/*********************************
            NAV BAR
*********************************/
.nav-bar{
    font-size: 14px;
    height: 35px;
    //background-color: mediumturquoise;

}


.nav-bar__nav-list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}

.nav-bar__nav-item{
    text-align: center;
    //background-color: pink;
}

.nav-bar__nav-link{
    display: block;
    //background-color: purple;
    color: #fff;
    //background-color: blue;
    padding: 1em 2em;
    text-decoration: none;
    transition: all .2s;
}

.nav-bar__nav-link:hover{
    font-weight: bold;
    background-color: #d35643;
    
}


/*********************************
            SEARCH BAR 
*********************************/
.search-bar{
    //background-color: olivedrab;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.search-bar__logo-container{
    margin-left: 3%;
}

.search-bar__logo-container,
.search-bar__form-container{
    //padding: 1em;
}

#logo-pagina{
    width: max-content;
    height: 35%;
    margin-top: 5px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.596));
}

.search-bar__form-container{
    //background-color: gold;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    //padding: 8px 1px;
}

.search-bar__form-search{
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    flex-basis: 60%;
    padding: 7px 45px 9px 15px;
    border: 2px solid rgb(184, 184, 184);
}


input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.search-bar__form-submit{
    color: transparent;
    //padding: 0px;
    background-color: transparent;
    //background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    border: none;
    cursor: pointer;
}

.search-bar__form-submit__img{
    max-width: 25px;
    padding: 2px;
}

.search-bar__carrito-container{
    display: flex;
    flex: 0 0 3em;
    justify-content: center;
    align-items: center;
    //background-color: goldenrod;
    margin: 0 5%;
    height: 65px;
}

.search-bar__carrito-container img{
    background-color: #ffa99bd0;
    border-radius: 50%;
    margin: 5%;
}
/*********************************
            MENU TOGGLE
*********************************/

.menu-toggle{
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label{
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo{
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
    margin: 0 auto;
}

.menu-toggle__pan-arriba{
    top: .8em;
}

.menu-toggle__medallon{
    top: 50%;
    margin-top: -.15em;
}

.menu-toggle__pan-abajo{
    bottom: .8em;
}


/*********************************
            CARRITO
*********************************/

#carritoImagen {
    height: 50px;
}


@media (max-width: 600px){
    .nav-bar{
        font-size: 13px;
    }
    
    .search-bar__form-container{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-bar__form-search{
        font-size: 15px;
        width: 180px;
    }
    
    .search-bar__form-submit{
        height: 35%;
        width: 25%;
    }

    .search-bar__carrito-container{
        margin-left: -5%;
    }
}






@media (max-width: 500px){
    .search-bar__logo-container,
    .search-bar__form-container{
        padding: 1em;
    }
    
    
    .search-bar__form-container{
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-bar__form-search{
        font-size: 15px;
        margin-left: -20%;
    }
    
    .search-bar__form-submit{
        height: 60%;
        width: 20%;
        
    }
    
    .search-bar__carrito-container{
        margin-left: -8%;
    }
}







@media (max-width: 350px){
    .search-bar__form-container{
        max-width: 50%;
    }
    
    
    .search-bar__form-search{
        font-size: 15px;
        max-width: 90%;
    }
    
    .search-bar__form-submit{
        width: 30%;
    }

    .nav-bar__nav-link{
        display: block;
        color: #fff;
        padding: 1em 1.5em;
        text-decoration: none;
        transition: all .2s;
    }
}