
/*********************************
            HEADER
*********************************/
.main-header{
    display: flex;
    flex-direction: column;
    //background-color: rgb(207, 0, 0);
    background-color: rgb(126, 109, 109);
}

#menu{
    display: none;
}

#menu:checked + .nav-bar {
    display: block;
}


/*********************************
            NAV BAR
*********************************/
.nav-bar{
    font-size: 20px;
    //background-color: mediumturquoise;

}


.nav-bar__nav-list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}

.nav-bar__nav-item{
    text-align: center;
    //background-color: pink;
}

.nav-bar__nav-link{
    display: block;
    //background-color: purple;
    color: #fff;
    //background-color: blue;
    padding: 1em 2em;
    text-decoration: none;
    transition: all .2s;
}

.nav-bar__nav-link:hover{
    font-weight: bold;
    background-color: rgb(70, 64, 64);
    
}


/*********************************
            SEARCH BAR 
*********************************/
.search-bar{
    //background-color: olivedrab;
    display: flex;
    justify-content: space-between;
}


.search-bar__logo-container,
.search-bar__form-container{
    padding: 1em;
}

.search-bar__form-container{
    //background-color: gold;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.search-bar__form-search{
    font-size: 30px;
    background-color: rgb(224, 216, 216);
    width: 70%;
    flex-basis: 100%;
}

.search-bar__form-submit{
    color: transparent;
    font-size: 25px;
    height: 40%;
    background-color: transparent;
    background: white;

    background-image: url(../img/lupa-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    
}

.search-bar__carrito-container{
    display: flex;
    flex: 0 0 3em;
    justify-content: center;
    align-items: center;
    //background-color: goldenrod;
    margin: 0 5%;
}

.search-bar__carrito-container img{
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    margin: 5%;
}
/*********************************
            MENU TOGGLE
*********************************/

.menu-toggle{
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label{
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo{
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
    margin: 0 auto;
}

.menu-toggle__pan-arriba{
    top: .8em;
}

.menu-toggle__medallon{
    top: 50%;
    margin-top: -.15em;
}

.menu-toggle__pan-abajo{
    bottom: .8em;
}


/*********************************
            CARRITO
*********************************/

#carritoImagen {
    height: 50px;
}


@media (max-width: 600px){
    .nav-bar{
        font-size: 13px;
    }
    
    .search-bar__form-container{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-bar__form-search{
        font-size: 15px;
        width: 180px;
    }
    
    .search-bar__form-submit{
        height: 35%;
        width: 25%;
    }

    .search-bar__carrito-container{
        margin-left: -5%;
    }
}






@media (max-width: 500px){
    .search-bar__logo-container,
    .search-bar__form-container{
        padding: 1em;
    }
    
    
    .search-bar__form-container{
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-bar__form-search{
        font-size: 15px;
        margin-left: -20%;
    }
    
    .search-bar__form-submit{
        height: 60%;
        width: 20%;
        
    }
    
    .search-bar__carrito-container{
        margin-left: -8%;
    }
}







@media (max-width: 350px){
    .search-bar__form-container{
        max-width: 50%;
    }
    
    
    .search-bar__form-search{
        font-size: 15px;
        max-width: 90%;
    }
    
    .search-bar__form-submit{
        width: 30%;
    }

    .nav-bar__nav-link{
        display: block;
        color: #fff;
        padding: 1em 1.5em;
        text-decoration: none;
        transition: all .2s;
    }
}