
.card {
    outline: none;
    flex-grow: 1;
    width: 400px;
    max-width: 500px;
    height: 220px;
    overflow: hidden;
    display: block;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 0px solid transparent;
    text-decoration: none;


    &:hover,
    &:focus{
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, .05), 0 3px 3px rgba(0, 0, 0, .01);
        box-shadow: 1px 1px 12px 2px rgba(255, 255, 255, 0.73);
    }

    &__image{
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        margin-left: -50%;
        width: 100;
        background-position: center;
        transition: all .2s;
    }

    &:hover &__image{
        transform: scale(1.1) rotate(355deg);

        
        transition-delay: 0s;
    }

    &__content{
        
        //clip-path: polygon(69% 0, 100% 0, 100% 100%, 47% 100%);
        margin-top: -40%;
        margin-left: 50%;
        height: 230px;
        width: 50%;
        z-index: -1;
        transition: all .2s;

    }

    &__content .card__heading{
        //border: blue 4px solid;
        padding: 4%;
        font-weight: bold;
    }

    &:hover .card__heading{
        padding-top: 5%;
    }

    &__content .card__description{
        //border: green 4px solid;
        height: 120px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover .card__description{
        
    }

    &__content .card__price{
        //border: violet 4px solid;
        height: 50px;
        background-color: rgb(228, 153, 15);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__content .card__price p{
        font-size: 30px;
    }


    /*
    &:nth-child(10n + 1) &__content{
        background-image: linear-gradient(to top, #b429f9, #26c5f3);
    }

    &:nth-child(10n + 2) &__content{
        background-image: linear-gradient(to top, #af1239, #cce269);
    }

    &:nth-child(10n + 3) &__content{
        background-image: linear-gradient(to top, #0b3866, #3ddab2);
    }

    &:nth-child(10n + 4) &__content{
        background-image: linear-gradient(to top, #f40752, #7c65a9);
    }

    &:nth-child(10n + 5) &__content{
        background-image: linear-gradient(to top, #1c3b41, #69d449);
    }

    &:nth-child(10n + 6) &__content{
        background-image: linear-gradient(to top, #0a5df8, #ed2d53);
    }

    &:nth-child(10n + 7) &__content{
        background-image: linear-gradient(to top, #661069, #cec360);
    }

    &:nth-child(10n + 8) &__content{
        background-image: linear-gradient(to top, #702b19, #cec360);
    }

    &:nth-child(10n + 9) &__content{
        background-image: linear-gradient(to top, #034a66, #ced11a);
    }

    &:nth-child(10n + 10) &__content{
        background-image: linear-gradient(to top, #ec458d, #474ed7);
    }
*/

    @media (min-width: 1024px){
        &{
            min-width: 230px;
        }
    }


    @media (min-width: 1280px){
        &{
            min-width: 240px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px){
        &{
            min-width: 100%;
            height: 200px;
        }

        &-article{
            display: flex;
        }

        &__image{
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }

        &__content{
            top: 0;
            padding-left: 45%;
        }
    }
}

#cards__nintendo .card-container .card,
#cards__playstation .card-container .card,
#cards__xbox .card-container .card,
#cards__pc .card-container .card{
    background-attachment: fixed;
    background-position: right;
}


#cards__nintendo .card-container .card{
    background-color: rgb(194, 0, 0);
    background-image:url(../img/fondo-nintendo.png);
}


#cards__nintendo .card__content{
    background: linear-gradient(180deg, rgb(255, 51, 0) 15%, rgb(75, 0, 0) 57%);
}

#cards__playstation .card-container .card{
    background-color: rgb(0, 0, 175);
    background-image:url(../img/fondo-playstation.png)
}

#cards__playstation .card__content{
    background: linear-gradient(180deg, rgb(0, 102, 255) 15%, rgb(0, 0, 71) 57%);
}

#cards__xbox .card-container .card{
    background-color: rgb(0, 92, 0);
    background-image:url(../img/fondo-xbox.png)
}

#cards__xbox .card__content{
    background: linear-gradient(180deg, rgb(1, 167, 1) 15%, rgb(0, 39, 0) 57%);
}

#cards__pc .card-container .card{
    background-color: rgb(80, 80, 80);
    background-image:url(../img/fondo-pc.png)
}

#cards__pc .card__content{
    background: linear-gradient(180deg, rgb(172, 172, 172) 15%, rgba(38,38,38,1) 57%);
}

