
.card {
    outline: none;
    flex-grow: 1;
    width: 400px;
    max-width: 400px;
    height: 220px;
    overflow: hidden;
    display: none;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2), 0 0 3px rgba(0, 0, 0, .4);
    border-radius: 7px;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
    cursor: pointer;


    &:hover,
    &:focus{
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 1px 1px 12px 2px rgba(255, 255, 255, 0.73);
    }

    &__image{
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        margin-left: -50%;
        //width: 150;
        background-position: center;
        transition: all .2s;
        position: relative;
        z-index: -1;
        filter: drop-shadow(3px 5px 8px black);
    }

    &:hover &__image{
        transform: scale(1.1) rotate(355deg);
        
        
        transition-delay: 0s;
    }

    &__content{
        margin-top: -210px;
        margin-left: 50%;
        height: 230px;
        width: 50%;
        z-index: 1;
        transition: all .2s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__content .card__heading{
        padding: 4%;
        font-weight: bold;
        margin-top: 3%;
        height: 60px;
    }

    &:hover .card__heading{
        padding-top: 5%;
    }

    &__content .card__description{
        height: 110px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__content .card__price{
        height: 50px;
        background-color: rgb(228, 153, 15);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: double 10px;

    }
    &__content .card__price p{
        font-size: 30px;
    }

    & span{
        display: flex;
        width: 60%;
        justify-content: space-around;
    }

    

    
    @media (max-width: 1010px){
        width: 200px;
        height: auto;
    }
}

.visible{
    display: block;
}


.Nintendo{
    background-color: rgb(194, 0, 0);
}

.Nintendo .card__content{
    background: linear-gradient(180deg, rgb(255, 51, 0) 15%, rgb(75, 0, 0) 57%);
}

.Nintendo .card__price{
    border-color: rgb(255, 51, 0);
    background-color: rgb(194, 0, 0);
}

.Playstation{
    background-color:  rgb(0, 0, 175);
}

.Playstation .card__content{
    background: linear-gradient(180deg, rgb(0, 102, 255) 15%, rgb(0, 0, 71) 57%);
    border-color: rgb(0, 0, 175);
}

.Playstation .card__price{
    border-color: rgb(0, 102, 255);
    background-color: rgb(0, 0, 175);
}

.Xbox{
    background-color: rgb(0, 92, 0);
}

.Xbox .card__content{
    background: linear-gradient(180deg, rgb(1, 167, 1) 15%, rgb(0, 39, 0) 57%);
}

.Xbox .card__price{
    border-color: rgb(1, 167, 1);
    background-color: rgb(0, 92, 0);
}

.PC{
    background-color: rgb(80, 80, 80);
}

.PC .card__content{
    background: linear-gradient(180deg, rgb(172, 172, 172) 15%, rgba(38,38,38,1) 57%);
}

.PC .card__price{
    border-color: rgb(172, 172, 172);
    background-color: rgb(80, 80, 80);
}
