#logo-nintendo{
    height: 125px;
    background-color: red;

}

#logo-playstation{
    height: 50px;
    background-color: blue;
}

#logo-xbox{
    height: 125px;
    background-color: green;
}

#logo-pc{
    height: 75px;
    background-color: grey;
}