*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    background-color: white;
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10rem;
}

main{
    margin: 3% 5%;
}

html {
    scroll-behavior: smooth;
}


