
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#categorias__text{
    font-family: 'Roboto', cursive;
    font-size: 60px;
}


#cantidad-productos{
    font-family: 'Roboto', cursive;
    font-size: 40px;
    color: black;
}

.alta_mensaje{
    font-family: 'Roboto', cursive;
    font-size: 35px;
    text-align: center;
}

#main_nosotros h1{
    font-weight: bold;
    font-size: 3em;
}

#main_nosotros p{
    font-size: 1.5em;
}

footer p{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5%;
}

.lista_container{
    font-family: 'Roboto', cursive;
}

.divisor-categoria label{
    font-size: 1.5em;
}


@media (max-width: 600px){
    #categorias__text{
        font-size: 2.1em;
    }
    
    #cantidad-productos{
        font-size: 1em;
    }

    #consola-text,
    #juegos-text,
    #amiibo-text{
        font-size: 2em;
        
    }

    #main_nosotros h1{
        font-size: 1em;
    }
    
    #main_nosotros p{
        font-size: 0.7em;
    }

    .alta_mensaje{
        font-size: 1.2em;
    }
}