.section-cards{
    padding: 1em;
    margin-top: 100px;
    text-align: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.apartado-consolas,
.apartado-juegos,
.apartado-amiibo {
    margin-top: 10px;
}

@media (min-width: 1200px){
    .card-container{
        min-width: 230px;
    }
}

#apartado-nintendo,
#apartado-playstation,
#apartado-xbox,
#apartado-pc{
    background-attachment: fixed;
}

#apartado-nintendo{
    background-color: red;
    background-image:url(../img/fondo-nintendo.png);
    
}

#apartado-playstation{
    background-color: blue;
    background-image:url(../img/fondo-playstation.png)
}

#apartado-xbox{
    background-color: green;
    background-image:url(../img/fondo-xbox.png)
}

#apartado-pc{
    background-color: gray;
    background-image:url(../img/fondo-pc.png)
}
