.section-cards{
    padding: 1em;
    margin: 100px 30px;
    text-align: center;
    border-radius: 30px;
    background-attachment: fixed;
    box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.73);
    //margin-right: 10%;
    //margin-left: 10%;
    background-color: rgba(175, 152, 152, 0.815);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.apartado-consolas,
.apartado-juegos,
.apartado-amiibo {
    margin-top: 10px;
}

@media (min-width: 1200px){
    .card-container{
        min-width: 230px;
    }
}

#apartado-nintendo{
    /*background-color: rgba(255, 0, 0, 0.75);
    background-image:url(../img/fondo-nintendo.png);*/
    
}

#apartado-playstation{
    /*background-color: rgba(0, 0, 255, 0.75);
    background-image:url(../img/fondo-playstation.png)*/
}

#apartado-xbox{
    /*background-color: rgba(0, 128, 0, 0.75);
    background-image:url(../img/fondo-xbox.png)*/
}

#apartado-pc{
    /*background-color: rgba(128, 128, 128, 0.75);
    background-image:url(../img/fondo-pc.png)*/
}

#categorias{
    text-align: center;
    border: rgb(141, 123, 123) 2px solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#apartados-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 860px){
    #categorias{
        padding: 10px;
    }

    #apartados-container a{
        width: 40%;
        padding: 0%;
    }
}

